@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Open+Sans:400,700&display=swap");

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing : border-box;
}

html,body{
  min-height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #0684ac66, #0684ac);
  font-family: "Lato", sans-serif;
}

.container {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  flex-direction: column;
  width: 420px;
  height: 570px;
  border: solid 2px #c7972c;
  border-radius: 10px;
}

.container_header {
  margin-top: 20px;
  margin-left: 25px;
  margin-bottom: 50px;
}

.logo {
  height: 33px;
  width: 185px;
}

.container_content {
  height: 100%;
  min-width: 300px;
  margin: 0 auto;
}

.lookup_form {
  display: flex;
  flex-flow: column;
  height: 55%;
  align-items: center;
}

.lookup_header {
  color: #3b3939d6;
  font-size: 40px;
  letter-spacing: 0;
  margin-bottom: 45px;
}

.lookup_input {
  font-size: 25px;
  font-weight: 300;
  color: #3b3939d6;
  border: solid 1px #707070;
  line-height: 18px;
  -webkit-box-shadow: 0px 3px 6px #00000029;
  -moz-box-shadow: 0px 3px 6px #00000029;
  box-shadow: 0px 3px 6px #00000029;
  padding: 20px 16px;
  margin-bottom: 60px;
  max-width: 300px;
}

.lookup_submit {
  color: white;
  background-color: #0885ac;
  letter-spacing: 0;
  font-size: 25px;
  box-shadow: 0px 3px 6px #00000029;
  border: none;
  padding: 10px 49px;
  font-weight: 300;
}

.seating {
  margin-top: 60px;
  height: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
}

.error {
  display: none;
  text-align: center;
  color: red;
}

.found {
  text-align: center;
  color: #0885ac;
}

/* Media Queries */

@media only screen and (max-width: 420px) {
  body {
    background-image: none;
    background-color: white;
    align-items: flex-start;
    min-width: 100vw;
    width: 100vw;
  }

  .container {
    height: 100vh;
  }

  .lookup_form {
    justify-content: space-around;
  }
}
