* {
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(to right, #8dbac8, #1185aa);
  font-family: sans-serif;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 380px;
  height: 530px;
  border: solid 3px #a5984d;
  border-radius: 2%;
}

.container_header {
  height: 15%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  margin-left: 25px;
}

.logo{
    height: 30px;
    width: 170px;
}

.container_content {
  height: 100%;
  max-width: 280px;
  margin: 0 auto;
}

.lookup_form {
  display: flex;
  flex-flow: column;
  height: 55%;
  justify-content: space-between;
  align-items: center;
}

.lookup_header{
    color: #5b5959;
}

.lookup_input {
    font-size: 1.2em;
    color: #5b5959;
    border: solid 1px #5b5959;
    padding: 20px 30px;
}

.lookup_submit{
    font-size: 1.4em;
    color: white;
    background-color: #0885ac;
    border: none;
    padding: 8px 45px;
}

.seating{
    margin-top: 50px;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.4em;
}

.error{
    display: none;
    text-align: center;
    color: red;
}

.found{
    text-align: center;
    color: #0885ac;
}

.found>p{
    margin-bottom: 5px;
}

/* Media Queries */

@media only screen and (max-width: 420px) {
  body {
    background-image: none;
    background-color: white;
    align-items: flex-start;
    min-width: 100vw;
    width: 100vw;
    height: 100vh;
  }
}
